.header
{
    color: #FF407D;
}
p
{
    font-size: 18px;
    color: 	#333333;
}

.section
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-heading
{
    color: 	#ffaad7;
    font-size: 26px;
}

.underline
{
    height: 04px;
    width: 4rem;
    background-color: 	#ffaad7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.miniCard
{
    transition: all 0.3s;
}
.miniCard:hover
{
    transform: scale(1.10);
}

.bg-c-light
{
    background-color: #f2f2f2;
}

.navBut
{
    transition: all 0.3s;
}

.navBut:hover
{
    transform: scale(1.10);
}

.navbar-nav
{
    color: #FF407D;
}

.nav-link
{
    position: relative;
}

.nav-link::after
{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #ffaad7;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-link:hover::after
{
    opacity: 1;
}

.homeDiscount
{
    color: #f2f2f2;
}

.homeSlider
{
    color: #f2f2f2;
}

.homeDiscount
{
background-color: aqua;
color: black;
font-weight: 700;
padding-top: 4rem;
padding-bottom: 2rem;
border-radius: 0;
padding-left: 1rem;
padding-right: 1rem;
}






.price-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
  }
  
  .item-name {
    margin-right: 0px;
    text-align: left;
  }
  
  .price-separator {
    flex: 1;
    border-bottom: 2px dotted #999;
    margin: 0.6em 5px 0;
  }
  
  .item-price {
    text-align: right;
  }